* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

#rules {
    border: black 2px solid;
    margin-top: 2rem;
    padding: 0.5rem;
}

#score {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    width: 10rem;
}

#img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



